/* Navbar.css */

/* Media query for tablets and desktops */
@media only screen and (min-width: 768px) {
  .navbar-container {
    display: flex;
    /* padding-left: 100px;
    padding-right: 100px; */
  }

  .sidebar {
    width: 330px;
    background-color: #fff;
    height: 100vh;
    border-right: 1px solid #ccc; /* Add a right border */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */
  }

  .content {
    flex: 1;
    padding: 20px;
  }

  .bottom-navbar {
    display: none; /* Hide bottom navbar on tablets and desktops */
  }

  li{
    font-weight: bolder;
  }

  .active {
    padding-left: 20px;
    padding-top: 20px;
    background-color: #1da1f2;
    border-radius: 30px;
    color: #ffffff;  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  .navbar-container {
    display: block; /* Display as a block for mobile devices */
  }

  .sidebar {
    display: none; /* Hide sidebar on mobile devices */
  }

  .content {
    padding: 20px;
  }

  .bottom-navbar {
    background-color: #f0f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .bottom-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .bottom-navbar li {
    text-align: center;
  }
}
